<% @posts.each_with_index do |post, index| %>
  <div class="card">
    <p>
      <%=index + 1%> -
      <a href="<%=post.url%>" target="_blank"><%= post.title %></a>
      <%= post.votes %> votes
    </p>
    <%# form action goes to /posts/id/upvote %>
    <form action="/posts/<%=post.id%>/upvote" method="POST" class="inline">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="upvote">
    </form>
    |
    <%# form action goes to /posts/id/delete %>
    <form action="/posts/<%=post.id%>/delete" method="DELETE" class="inline">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete" class="red-button">
    </form>
  </div>
<% end %>
